@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(images/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans'; sans-serif;
    box-sizing: border-box;

}

.navbar {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4vw;
    margin: 0.5rem;
}

.navList {
    display: flex;
    padding: 0;
    font-size: .75rem;
}

.navItem {
    list-style: none;
    margin: 1rem;
    font-size: medium;   
}

.navItem a{
    text-decoration: none;
    color: white;
       
}

.navItem:hover{
    transform: scale(1.5);
}

.navItem a:hover{
    transform: scale(1.5);
    color: rgb(208, 212, 0);
}
.des {
    color: white;
    font-size: 25px;
    padding: 75px;
    font-style: italic;
}

.wrapper {
    width: 100%;
}

.wrapper .container {
    padding-top: 10px;
    display: flex;
}

.wrapper .container .hero-section{
    width: 80%;
    margin: 0px auto;
    padding top: 50px;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-gap: 20px;
}

.wrapper .container .hero-section .gallery{
    width: 100%;
    position: relative;
}

.wrapper .container .hero-section .gallery .image-section{
    width: 100%;
}

.wrapper .container .hero-section .gallery .image-section img{
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    padding: 5px;
    display: flex;
}

.wrapper .container .hero-section .gallery .caption{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 15px;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    color: #222;
    opacity: 0;
    transition: opacity 0.30s;
    font-size: 30px;
}

.wrapper .container .hero-section .gallery .caption:hover{
    opacity: 1;
}

.wrapper .container .hero-section .gallery .caption p{
    font-size: 25px;
    font-style: bold;
}

.img_deg {
    float: left;
    width: 50%;
    padding: 15px;
    height: 52%;
}

@media screen and (max-width: 992px) {
    .wrapper .container .hero-section{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 568px) {
    .wrapper .container .hero-section{
        grid-template-columns:1fr;
    }
}

.side 
{
    margin-top:5%;
    margin-bottom: 5%;
    display: flex;
    text-align: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; color: #ffffff;
}
.side .left
{
    float: left;
}
.side .right
{
    float:right;
    padding-left: 10%;
}
.side .right h2
{
    font-size: 400%;
    margin-right: 30%;
}

.side .right .side_btn
{
    margin-top:3%;
    margin-right: 30%;
}
.side .right .side_btn a
{
    text-decoration: none;
    font-size: large;
    margin:22%;
    padding: 5px 10px;
    font-weight: bold;
    color: rgb(208, 212, 0);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
    border: 4px solid rgb(161, 0, 83);
    border-radius: 10px;
    transition: 0.5s;
}
.side .right .side_btn a:hover
{
    background-color: rgb(208, 212, 0);
    color:rgb(161, 0, 83);
    border: none;
    border-bottom: 4px solid rgb(161, 0, 83);
    transition:0.5s;
}

.dlr {
    margin-left: 15%;
    width: 100%;
}

.main
{
    background-image: url("images/wah.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
}

.main .main_content
{
    padding: 100px;
    text-align: center;
}

.main .main_content h2
{
    color: white;
    background-color: rgb(0, 53, 0);
    font-size: 38px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 35px;
    width:50%;
    padding: 50px;
    border-radius: 50%;
    margin: auto;
    border: 6px solid rgb(7, 126, 80);
    box-shadow: 6px 6px rgba(0,0,0,.45);
    
}
.main .main_content h2 span
{
    font-size:30%;
    opacity: 0.9;
    font-weight: 400;
    line-height: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.product
{
    padding-bottom: 50px;
}
.product h2
{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: rgb(208, 212, 0);
    font-size: 35px;
    text-align: center;
    padding: 20px;
}
.product .product_container
{
    display:flex;
    margin-left: 5%;
    margin-right: 5%;
}
.product .product_container .item
{
    width:25%;
    margin: 10px;
    height: 10%;
}
.product .product_container .item:hover
{
    box-shadow:0px 3px 65px 0px rgb(255, 189, 165);
}
.product .product_container .item .item_img
{
    width:100%;
    height: 20%;
    overflow:hidden;
}
.product .product_container .item .item_img img
{
    width:100%;
    height: 20%;
}
.product .product_container .item .item_content
{
    text-align: center;
    color: white;
    margin-top: 10%;
    overflow:hidden;
    padding: 5px;
}
.product .product_container .item .item_content h3
{
    font-size: 15px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    line-height: 2px;
}
.product .product_container .item .item_content p
{
    margin-top: 5%;
    font-size: 15px;
    line-height: 15px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.product .product_container .item .item_content a
{
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    color:rgb(208, 212, 0);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
    border: 3px solid rgb(212, 0, 106);
    transition: 0.5s;
}
.product .product_container .item .item_content a:hover
{
    background-color: rgb(208, 212, 0);
    color: rgb(212, 0, 106);
    border: none;
    transition:0.5s;
}

.feed
{
    background-image: url("images/feed.jpg");
    background-size:cover;
    padding: 50px;
    text-align: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
}
.feed h2
{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}
.feed .feed_form
{
    text-align: center;
}
.feed .feed_form form
{
    padding:20px;
}
.feed .feed_form form input
{
    width:30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border:none;
}
.feed .feed_form form textarea
{
    width:30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border:none;
}
.feed .feed_form form button
{
    width:30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border:none;
    background-color: rgb(161, 0, 83);
    color: rgb(212, 208, 0);
    border: 5px;
}

.contact_container
{
    padding: 100px;;
}
.contact_container h2
{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: rgb(208, 212, 0);
    font-size: 33px;
    text-align: center;
}
.contact_container .g_map
{
    border:10px solid rgb(92, 0, 47);
}
.contact_container .contact_content
{
    padding:20px;
}
.contact_container .contact_content p
{
    color: white;
    padding:15px;
    font-size: 15px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 
    line-height: 25px;
}

.team
{
    padding: 50px;
}
.team h2
{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: rgb(212,208, 0);
    font-size: 35px;
    text-align: center;
}
.team .team_container
{
    display: flex;
}
.team .team_container .team_video
{
    width:50%;
    padding:20px;
}
.team .team_container .team_video video
{
    width:100%;
    border: 8px solid rgb(161, 0, 83);
    outline: none;
}
.team .team_container .team_content
{
    width:40%;
    padding:20px;
    margin-left:50px;
    margin-top: 0%;
    font-size: 30px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; color: #ffffff;
}

.table {
    border: 3px solid rgb(161, 0, 83);
    margin: auto;
    background-color: rgb(208, 212, 0);
    width: 250px;
}
